.endevor/testfile
.vscode/launch.json
.vscode/settings.json
gihub

# Common Java/Maven
**/target/
**/*.class

# Logs
**/*.log

# H2
**/*.mv.db
**/*.trace.db

# IDE
**/.vscode/
**/.idea/
**/*.iml

# OS
.DS_Store
Thumbs.db
